<table class="table table-bordered">
<tr>
<td>head1 head3 head1 head1 head1</td>
<td>
	<span
    my-multi-select 
    input-model="modernBrowsers" 
    output-model="outputBrowsers"
    button-label="icon name"        
    item-label="icon name maker"        
    tick-property="ticked"
    ></span>
</td>
<td>
<button type="button" class="helperButton" ng-click="fnAdd();" >Add</button>
<button type="button" class="helperButton" ng-click="fnEdit();" >Edit</button>
</td>
</tr>
<tr>
<td>head2 head1 head1 head1</td>
<td>head2 head1 head1 head1 </td>
<td>head3 head1 head1 head1</td>
</tr>
<tr>
<td>head2 head1 head1 head1 </td>
<td>head3 head1 head1 head1</td>
<td>head3 head1 head1 head1</td>
</tr>
<tr>
<td>head2 head1 head1 head1 </td>
<td>head3 head1 head1 head1</td>
<td>head3 head1 head1 head1</td>
</tr>
</table>
<div>OUT PUT</div>
{{myoutputBrowsers}}
